:root {
  --dark-neutral: rgba(0, 0, 0, 0.75);
  --dark: hsl(60, 2%, 12%);

  /* theme color  */
  --maroon: #5b0733;
  --golden: hsl(35, 74%, 54%);
  --olive: hsl(72, 51%, 53%);
  --deep-greenish-blue: hsl(161, 37%, 25%);
  --blue-green: hsl(170, 53%, 45%);
  --pale-green: hsl(153, 32%, 74%);
  --steel-blue: hsl(219, 45%, 50%);
  --lavender-blue: hsl(252, 36%, 65%);
  --lavender-purple: hsl(300, 25%, 57%);
  --salmon: hsl(5, 84%, 76%);
  --pale-beige: hsl(38, 32%, 82%);
}

/* customize scroll bar */

::-webkit-scrollbar {
  width: 1.1rem;

  background: #2e2e30;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border: 2px solid #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  /* height: 200dvh; */
  /* overflow: scroll; */
}

/* navbar style start  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: var(--dark-neutral);
  outline: 1px solid #454547;
  background: #2e2e30;
  top: 0;
  position: fixed;
  z-index: 910;
}

.top-navbar-left {
  width: 688px;
  height: 32px;
  padding: 0 0 0 26px;
  display: flex;
  align-items: center;
}

.menu-box {
  display: flex;
  align-items: center;
  /* padding-left: 25px; */
  width: 127px;

  height: 32px;
}

.menu-icon-box {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* create btn style */

.create {
  background: #3d3e40;
  width: 84px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 6px;
  color: #fff;
  margin-left: 7px;
  outline: 1px solid #6a696a;
  cursor: pointer;
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
}

.create-icon {
  display: flex;
  /* align-items: center; */

  background: #ef655d;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
}

/* .add {
  width: 16px;
  height: 16px;
  mar;
} */

.create-icon span {
  font-size: 14px;
  margin: 0 6px 0 6px;
}

/* create modal  */

.create-modal {
  padding-block: 4px;
  margin-top: 5px;
  top: 0;
  left: 7.7%;
  position: absolute;
  width: 180px;
  background: var(--dark);
  outline: 1px solid #6a696a;
  z-index: 999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.modal-item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  width: 100%;
}

.modal-item:hover {
  background-color: #373532;
}

.modal-item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.modal-hr {
  border: none;
  outline: none;
  height: 1px;
  background: #454547;
}

/* nav bar search box  */
.search-box {
  margin-left: 7px;
  padding: 0 0 0 15px;
  width: 480px;
  height: 32px;
  background: #3d3e40;
  border: 1px solid #6a696a;
  display: flex;
  align-items: center;
  transition: 0.2s;
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.search-box:hover {
  outline: 3px solid #fff;
}

.search-box img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
}

.search-box input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  color: #eef1ea;
  /* padding-left: 1px;
  padding-top: 3px; */
  font-size: 14px;
  font-weight: 400;
}

::placeholder {
  color: #8e8f8d;
}

/* navbar right site style start here  */

.top-navbar-right {
  width: 688px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: right;
}

/* profile box  */

.profile-box {
  display: flex;
  align-items: center;
  margin-right: 13px;
  cursor: pointer;
}

.up-btn {
  background: #e8b668;
  color: #3e4147;
  border: none;
  width: 64px;
  height: 28px;
  margin-right: 9px;
  font-size: 12px;
  font-weight: 200;
  border-radius: 6px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.profile-pic {
  margin-bottom: -4px;
  width: 28px;
  height: 28px;
}

/* .expand icon  */
.expand {
  width: 12px;
  height: 12px;
  margin-bottom: 4px;
}

/* profile modal  */

.profile-modal {
  z-index: 999;
  position: absolute;
  top: 45px;
  right: 12px;
  width: 240px;
  height: 454px;
  color: #fff;
  background: var(--dark);
  outline: 1px solid #6a696a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.work-sp {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.email-pro {
  font-size: 12px;
}

.profile-modal-item {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-modal-item:hover {
  background: #373532;
}

.profile-modal-item img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.btn-pro-modal {
  padding: 8px 32px;
  width: 85%;
  margin-inline: 15px;
  background: #f1bd6c;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.create-modal,
.profile-modal {
  display: none;
}

/* side nav start here  */

.side-nav {
  background: var(--dark-neutral);
  width: 240px;
  height: 96%;
  color: #fff;
  padding-top: 12px;
  position: fixed;

  top: 49px;
  bottom: 0;
  background-color: #2e2e30;

  overflow-x: hidden;
  z-index: 90;
  transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}

.side-nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 216px;
  height: 32px;
  margin: 0 12px 0 12px;
  padding: 0 4px 0 12px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.side-nav-item:hover {
  background-color: #3a3a3c;
}

.side-nav-item-active {
  background-color: #454547;
}

.side-nav-item img {
  width: 20px;
  height: 20px;
}

.side-nav-item p {
  margin-bottom: 2px;
  -moz-margin-bottom: 0px;
}

.mt-half {
  margin-top: 12px;
  margin-bottom: 20px;
}

.portfolio-icon {
  width: 20px;
  height: 20px;
  /* stroke: #2a2928; */
}
.insights-top-div {
  display: flex;
  justify-content: space-between;
  cursor: grab;
  margin-bottom: 8px;
}

.insights {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
}

.insights p {
  margin-left: 6px;
  font-size: 14px;
  color: #f5f4f3;
  line-height: 20px;
  font-weight: 500;
}

#arrow_drop_down,
#app-icon,
#add-icon,
#more-icon {
  width: 0px;
  height: 0px;
  margin-right: 14px;
}

#project-main {
  margin-top: 12px;
}

#side-nav-hover-id:hover #arrow_drop_down {
  width: 15px;
  height: 15px;
  margin-right: 0px;
}

#side-nav-hover-id:hover #app-icon {
  width: 15px;
  height: 15px;
  margin-right: 0px;
}

.add-icon {
  width: 14px;
  height: 14px;
  margin-right: 19px;
  margin-top: 3px;
}

/* side nav  project //  */

#project-main:hover #arrow_drop_down {
  width: 15px;
  height: 15px;
  margin-right: 0px;
}

#project-main:hover #app-icon {
  width: 15px;
  height: 15px;
  margin-right: 0px;
}

#project-main:hover #more-icon {
  width: 15px;
  height: 15px;
  margin-right: 0px;
}

.clr-div {
  width: 16px;
  height: 16px;
  background: #9ee7e3;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#workplace-icon {
  width: 16px;
  height: 16px;
  margin-inline: 2px;
}

.side-nav-btm {
  position: fixed;
  bottom: 0;
  height: 36px;
  width: 240px;

  gap: 10%;
  margin-bottom: 17px;
}

.cover-div {
  padding-block: 8px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.border-stand {
  width: 1px;
  height: 24px;
  background: #6a696a;
  margin-right: -2px;
}

.help-div,
.invite-div {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 85px;
  height: 36px;
  padding-inline: 14px;
}

.help-div,
.invite-div p {
  font-weight: 500;
  font-size: 14px;
}

.help-div p {
  margin-left: -2px;
}

.invite-div p {
  left: 54px;
  bottom: 0;

  position: absolute;
}

.help-icon {
  width: 24px;
  height: 24px;
}

.invite-div img {
  width: 18px !important;
  height: 18px !important;
}

/* side nav .workspace-modal  */

#workspace:hover .workspace-modal {
  display: block;
}

.chevron {
  margin-left: 60px;
  width: 12px !important;
  height: 12px !important;
}

.workspace-modal {
  transition: 0.5s;
  display: none;
  width: 350px;
  height: 170px;
  background-color: var(--dark);
  left: 220px;
  top: 49%;
  position: fixed;
  z-index: 999;
  outline: 1px solid #6a696a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.workspace-modal-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
}
.workspace-modal-item:hover {
  background-color: #6a696a;
}

.wsm-title {
  font-size: 13px;
  color: rgb(179, 179, 179);
  padding: 0.5rem;
}

.workspace-modal-item div {
  display: flex;
  margin-top: 0.5rem;
  gap: 8px;
}

.wsmi-p {
  display: flex;
  gap: 0.5rem;
}

#ws-last-item {
  margin-top: 5px;
  margin-left: -4px;
}

/* home page style start here  */

.home-page {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  /* home page background set here  */
  background-image: url("asset/Maroon_background_dark.jpg");
  background-size: cover;
  padding-top: 49px;
  color: #fff;
}

.home-page-content {
  padding-left: 240px;
  transition: 0.3s;
  max-height: 100dvh;
  overflow-y: scroll;
  margin: 0px;
  padding-top: 20px;
  padding-left: 250px;
  padding-bottom: 130px;
}

.home-text {
  margin-top: 2px;
  font-size: 20px;
  color: #f5f4f3;
  margin-left: 14px;
  font-weight: 500;
  height: 72px;
  width: 1615px;
}

.achievement-widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: -23px;
}

.current-date {
  font-size: 1rem;
  font-weight: 500;

  color: #f5f4f3;

  margin-right: 10px;
}

/* conversation text  */

.presentation-text {
  font-size: 2rem;
  font-weight: 400;
  color: #f5f4f3;
  margin-right: 10px;
  margin-top: 2px;
}

.cover {
  width: 1200px;
  height: 48px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 16px 0 12px 0;
}

.achievement-widget-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 109px;
  padding: 0 8px 0 0;
  height: 48px;
  width: 456px;
  font-size: 12px;
  background: #43373f;
  /*background: #fffff0;
  */
  margin-right: 5px;
  margin-bottom: 1px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  -webkit-border-radius: 60px;
}

.date-selection {
  font-size: 12px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 83px;
  height: 28px;
  padding-inline: 7px;
  margin-left: 15px;
}

.date-selection:hover {
  background: #4d3f42;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.date-selection option {
  background-color: black;
  width: 150px;
  height: 60px;
}

.date-selection option:checked {
  background-color: #333; /* Change the background color of the selected option */
}

.zero {
  font-size: 20px;
  font-weight: 500;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.home-stand {
  margin-left: 17px;
  background-color: rgb(161, 158, 158);
}

.done-icon-s {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 2px;
}

.done-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 2px;
}

.icon {
  width: 16px;
  height: 16px;
}

.task-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  width: 158px;
  height: 28px;
}

.task-stats-style {
  margin-right: -40px;
}

.ml {
  margin-left: 21px;
}

.ms {
  margin-left: 3px;
  font-weight: 500;
}
.ml-30 {
  margin-left: 37px;
}
.collaborators {
  width: 141px;
  height: 28px;
  margin-left: 40px;
}

/* . customize btn or theme btn  */

.customize-btn {
  position: relative;
  margin-right: 5px;
  margin-bottom: 1px;
  height: 36px;
  width: 111px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 12px 0 12px;
  border-radius: 6px;
  cursor: pointer;
}

.customize-btn img {
  width: 16px;
  height: 16px;
  margin: 0 0px 0 0;
}

.customize-btn p {
  margin-bottom: 2px;
  margin-left: -1px;
}

/* task section css  */

.task-section {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;

  gap: 0.9rem;
  flex-wrap: wrap;
}

.section-1 {
  position: relative;
  display: flex;
  width: 1200px;
}

.section-1 {
  width: auto;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
  margin-left: -10px;
}

.task-div {
  overflow: hidden;
  cursor: grab;
  width: 592px;
  height: 400px;
  background: #2a2b2d;
  outline: 1px solid #454547;
  padding: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.top-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-item h3 {
  font-size: 1.4rem;
  margin-left: 9px;
  margin-top: 5px;
}

.parent-container {
  width: 39px;
  height: 39px;
}

.more-btn {
  position: relative;
  width: 38px;
  height: 38px;
  outline: 1px solid #6a696a;
  display: none;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.task-div:hover .more-btn {
  display: flex;
}

.more-btn img {
  width: 50px;
  height: 25px;
}

.task-div:hover .more-btn-option {
  margin-top: 0px;
}

.more-btn-option {
  display: none;
  width: 167px;
  height: 120px;
  background: rgb(10, 9, 9);
  padding-top: 3px;
  margin-top: 30px;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  outline: 1px solid #6a696a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.size-option img {
  width: 15px;
  margin-right: 6px;
}

.active-option {
  background: #3d3b38;
}

.size-option p {
  padding-left: 22px;
}

.more-btn-option div {
  display: flex;
  align-items: center;

  padding: 6px;
  width: 100%;
}

.more-btn-option div:hover {
  background-color: #3d3b38;
}

.remove-option {
  color: #cf5864;
  gap: 10px;
}

.task-summary {
  line-height: 24px;
  text-align: center;
  margin-top: 22px;
  margin-right: px;
  font-size: 16px;
  color: rgb(162, 160, 162);
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: 1px;
  margin-right: 2px;
  gap: 9px;
}

.btn-div button {
  padding-bottom: 2px;
}

.task-border-btn {
  height: 34px;
  width: 120px;
  background: none;
  color: #fff;
  border: none;
  outline: 1px solid #4c4c4e;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.task-clr-btn {
  height: 36px;
  width: 93px;
  background: #e8b668;
  color: #3a3a3c;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
}

.task-status {
  margin-bottom: 8px;
  height: 74px;
  width: 542px;

  border: 1px solid #454547;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.graph {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pl-10 {
  padding-left: 10px;
}
.graph-one {
  background-color: #414244;
  height: 16px;
  width: 320px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.graph-two {
  width: 280px;
  height: 12px;
  background: #414244;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  margin-bottom: 4px;
}

.percentage {
  width: 84px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 9px;
  color: #a9acad;
  margin-bottom: 5px;
  margin-right: -1px;
}

.percentage p {
  margin-left: -1px;
}
.percentage-div {
  width: 48px;
  height: 6px;
  background: #424244;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.percentage-index {
  width: 90%;
  height: 6px;
  background: rgb(75, 153, 140);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.p-75 {
  width: 75% !important;
  background: #d1395a;
}

.p-85 {
  width: 90%;
  background: #e7ad5b;
}

.task-status-right {
  /* margin-top: 10px; */
  height: 65px;
  width: 600px;

  border-top: 1px solid #454547;
  /* border-bottom: 1px solid #6a696a; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 29px;
}

.margin-top {
  margin-top: 1.5rem;
}

.msb {
  margin-right: 8px;
}

.last-task-status {
  border-bottom: 0;
  margin-bottom: 100px;
}

.status-btn {
  width: fit-content;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #581d23;
  color: #ca606b;
  padding: 0 8px 0 10px;
  /* padding-inline: 6px;
  padding-block: 2px; */
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
}

.dot {
  width: 8px;
  height: 8px;
  background: #d1395a;
  margin-right: 1px;
  padding-left: 1px;
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
}

.y-dot {
  background: #e7ad5b;
}

.y-btn {
  background: #3d3120;
  color: #e7b164;
}

.g-btn {
  background: #1d3733;
  color: #73ad9c;
}

.g-dot {
  background: #5da283;
}

.task-div-btm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.task-div-btm p {
  color: #6a696a;
}

.item {
  display: flex;
  gap: 1rem;
}

.item select {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #838083;
}

.item select option {
  background: #2e2c2a;
  color: #fff;
  padding: 2rem;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-select {
  margin-top: 10px;
  padding-left: 3px;
  font-size: 12px;
  color: rgb(168, 166, 166) !important;
  margin-left: -6px;
  letter-spacing: none;
  font-weight: 500;
}

.create-project {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 11px;
  /* margin-left: -30px; */
  width: 271px;
  height: 59px;
}

.create-project:hover {
  background-color: #373739;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.border {
  margin-top: 1px;
  margin-left: 14px;
  width: 48px;
  height: 48px;
  outline: 1px dashed #b6b0ab;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.reg-img-div {
  margin-left: 5px;
  width: 48px;
  height: 48px;
  background: #9ee7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.reg-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dark-text {
  margin-top: 1px;
  margin-left: 9px;
  color: #a5a1a5;
  font-weight: 500;

  font-size: 14px;
  line-height: 20px;
}

.reg-p {
  margin-left: 7px;
  font-weight: 500;
  margin-bottom: 4px;
}

/* customize or theme  modal  */

.customize-modal {
  /* display: none; */
  width: 384px;
  height: 870px;
  background-color: #1e1f21;
  position: absolute;
  padding: 2rem;
  right: -384px;
  top: 3.1rem;
  z-index: 9999;
  border-left: 1px solid #838083;
  border-top: 1px solid #838083;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* style for customize modal  */

.cm-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  color: #fff;
}

.hide-customize-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.cm-top h1 {
  font-size: 24px;
  font-weight: 600;
}

.bg-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.bg-theme {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1rem;
}

.bg-clr {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10vmax;
}

.bg-clr img {
  width: 22px;
}

.maroon {
  background: var(--maroon);
}
.golden {
  background: var(--golden);
}
.olive {
  background: var(--olive);
}
.deep-greenish-blue {
  background: var(--deep-greenish-blue);
}
.blue-green {
  background: var(--blue-green);
}
.pale-green {
  background: var(--pale-green);
}
.steel-blue {
  background: var(--steel-blue);
}
.lavender-blue {
  background: var(--lavender-blue);
}
.lavender-purple {
  background: var(--lavender-purple);
}
.salmon {
  background: var(--salmon);
}
.pale-beige {
  background: var(--pale-beige);
}

.dark-bg {
  border: 2px solid #838083;
}

.widgets-text {
  color: #fff;
  font-weight: 500;
  margin-top: 2rem;
}

.widgets-info {
  margin-top: 0.5rem;
  color: #948d94;
}

.widgets {
  margin-top: 1.2rem;
  height: 162px;
  width: 320px;
  padding: 1rem;
  color: #fff;
  border: 1px solid #6a696a;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#form-widgets {
  /* display: none; */
}

.widget-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget-title {
  font-weight: bold;
}

.add-widget {
  display: flex;
  align-items: center;
}

.add-widget img {
  width: 20px;
}
.img-wrapper {
  width: 100%;
  height: 125px;
}

.node-pad-img {
  width: 100%;
  height: 100%;
}

.widget-title img {
  width: 16px;
  margin-top: 5px;
}

body.modal-open {
  overflow: hidden; /* Hide scrollbar */
}

/* task div css start 5  */

.top-item h3,
.item h3 {
  font-weight: 500;
  font-size: 20px;
}

.girl-face-3 {
  width: 25px;
  height: 25px;
  border-radius: 10vmax;
  -webkit-border-radius: 10vmax;
  -moz-border-radius: 10vmax;
  -ms-border-radius: 10vmax;
  -o-border-radius: 10vmax;
}

.mt-1 {
  margin-top: 1rem;
}

.people-status-div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-top: 1px solid #948d94; */
}

.ps-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

#task-icon-clr {
  fill: #373432;
}
.Y-day {
  color: #ef655d;
}

.today {
  color: #168b68;
}

.tomorrow {
  color: hsl(163, 68%, 16%);
}

.wednesday {
  color: #413d3c;
}

.ps-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ps-left img {
  width: 20px;
}

#st-div-1 {
  width: 138px;
  height: 12px;
  background: #414244;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#st-div-2 {
  width: 247px;
  height: 12px;
  background: #414244;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#st-div-3 {
  width: 320px;
  height: 12px;
  background: #3b3c3e;
  border-radius: 4px;
}

#st-div-4 {
  width: 120px;
  height: 12px;
  background: #303133;
  border-radius: 4px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-div {
  position: relative;
  /* background: rgba(0,0,0,0.4);  */
  background: rgba(236, 229, 232, 0.1);
}

.task-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-content p {
  font-size: 20px;
}

.sub-div {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #838083;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.gray-div {
  width: 80%;
  height: 10px;
  background: #414244;
  margin-left: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.sub-div img {
  width: 16px;
}

/* tumi ar eso na fire priosi */

.cmt-img {
  margin-top: 20px;
}

/* forms link icon style  */
.link {
  width: 16px;

  margin-right: 4px;
  margin-top: 3px;
}

.btm-icon {
  margin-top: 259px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btm-icon img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#set {
  width: 300px;
  height: 200px;
}

#set div {
  /* display: flex; */
}
button,
input,
select {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
